.Everything {
    display: flex;
    flex-wrap: wrap;
}

.Input {
    width: 600px;
    height: 50px;
    border: none;
    outline: none;
    margin: 30px auto;
    box-shadow: 0 4px 15px 6px rgba(0,0,0,0.2);
    font-size: 17px;
    color: rgb(129, 129, 129);
    padding-left: 10px;
}