ul {
    display: flex;
    list-style: none;
}

li {
    margin: 10px auto;
}

.Link {
    text-decoration: none;
    font-size: 20px;
    padding: 10px;
    color: grey;
    transition: all .2s;
}

.Link:hover {
    color: rgb(68, 68, 68);
}

